.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  color: var(--accent-color);
}
.navigation__logo {
  color: var(--only-black);
}
.logo-footer {
  color: var(--primary-white-color);
}
