.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  color: var(--primary-white-color);
}

.address {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item > .link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  display: block;

  color: var(--opacity-white-color);

  transition: var(--transition-hover-color);
}

.footer-item > .address-link {
  color: var(--primary-white-color);
}

.footer-item > .link:hover,
.footer-item > .link:focus {
  color: var(--accent-color);
}

.footer-soc {
  margin-left: 70px;
}
.footer-text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.foorer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: var(--transition-hover-bg);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.footer-submit {
  margin-left: 93px;
}
.footer-input-box {
  display: flex;
  align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: var(--transition-hover-bg);
}
.btn-submit:hover,
.btn-submit:focus {
  background: var(--secondary-blue-color);
}
.submit-icon {
  fill: var(--primary-white-color);
}
