.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: inline-block;

  color: var(--accent-color);
}
.logo-header {
  color: var(--only-black);
}

.site-nav {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}
.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  display: block;
  padding: 32px 0px;

  transition: var(--transition-hover-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -1px;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
  align-items: center;
}
.site-contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  display: flex;
  align-items: center;

  transition: var(--transition-hover-color);
}
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
